*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    display:flex;
    min-height:100vh;
    background:#f1f5f9;
}

.sidebar{
    width:250px;
    background:#0f172a;
    color:white;
    padding:30px 20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:20px 0;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
    display:block;
    padding:10px;
    border-radius:8px;
}

.sidebar ul li a:hover{
    background:#1e293b;
}

.main-content{
    flex:1;
    padding:30px;
}

.header{
    margin-bottom:30px;
}

.cards{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card h3{
    color:#64748b;
    margin-bottom:10px;
}

.card p{
    font-size:35px;
    font-weight:bold;
    color:#38bdf8;
}

.actions{
    margin-top:50px;
}

.actions h2{
    margin-bottom:20px;
}

.action-buttons{
    display:flex;
    gap:20px;
}

.action-buttons button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.action-buttons button:hover{
    opacity:0.9;
}